/* Typography */

h1 {
  text-align: center;
}

/* UI */

.chart {
  flex: 1;
  max-width: 500px;
}

.speedometer .value {
  color: magenta;
  text-align: center;
}

.game-screen {
  display: flex;
  background-color: blue;
  margin: 10px;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.view {
  display: flex;
  flex: 1;
}

.view.horizontal {
  flex-wrap: wrap;
  justify-content: center;
}

.view.vertical {
  flex-direction: column;
}

/* Game */

.sky {
  background-color: #d9f0f5;
}

